.header {
  width: 100%;
  height: var(--header-height);

  padding: 0 10px;
  box-sizing: border-box;

  background: rgba(1, 2, 11, 0.7);
  backdrop-filter: blur(4px);
  box-shadow: 2px 2px 10px #1a1a1a;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.content {
  margin: auto;
  max-width: 1200px;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  font-size: 1.2em;
  color: #ffffff;
}

.leftSide {
  flex: 0 0;
}
.leftSide > a {
  height: 100%;
  display: flex;
  align-items: center;
}
.leftSide img {
  height: calc(var(--header-height) * 0.9);
}

.rightSide {
  flex: 1 1 100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;

  text-align: center;
}

.rightSide a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  line-height: var(--header-height);
  padding: 0 10px;
  display: block;
}

.rightSide a:hover {
  color: rgb(120, 120, 120);
}

.dropDownLink {
  position: relative;
}
.dropDownLink > a {
  height: 100%;
  box-sizing: border-box;
}
.dropDownLink > a:after {
  margin-left: 3px;
  content: '▾';
}
.dropDownItems {
  position: absolute;
  top: 100%;
  right: -50px;
  z-index: 1;

  background: #222222;
  backdrop-filter: blur(4px);

  width: 150px;
  white-space: nowrap;
  flex-direction: column;

  display: none;
}
.dropDownLink:hover .dropDownItems {
  display: flex;
}

.mobileMenuButton {
  width: var(--header-height);
  height: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  display: none;
}
@media (max-width: 800px) {
  .mobileMenuButton {
    display: flex;
  }
  .leftSide {
    flex-grow: 1;
  }
  .rightSide {
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    right: 0;

    width: calc(max(50vw, 200px));
    max-height: calc(100vh - var(--header-height));

    background: #333333;

    overflow: auto;
    display: none;
  }
  .header.open .rightSide {
    display: flex;
  }
  .rightSide > * {
    flex: 0 0;
  }

  .dropDownLink > a {
    display: none;
  }
  .dropDownLink > .dropDownItems {
    display: flex;
    position: initial;
    background: none;
    width: 100%;
  }
  .dropDownLink > span::after {
    display: none;
  }
}
