.container {
  max-width: 1200px;
  margin: 0 auto;
}

.iframePdf {
  border: none;
  width: 1200px;
  height: 1050px;
}

.mobileNewsletterFrontpage {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: calc(min(90vw, 800px));
  height: calc(min(128vw, 1142px));
}
