.container {
  border: 5px solid #3189c9;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  min-height: 60px;
  cursor: pointer;
  padding: 0.25rem 0.25rem;
  color: #000;
  text-decoration: none;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.container:hover {
  background-color: #3189c9;
}

a.container {
  padding: 0.51rem 0.21rem;
}

.container > h3 {
  margin: auto;
}

.container.small {
  min-height: 30px;

  @media (max-width: 700px) {
    min-width: 150px;
    padding: 10px;
  }
}
