.title,
.description {
  width: 500px;
  max-width: calc(100vw - 1.5em);
  margin: auto;
}

.sponsor {
  margin: 0 50px 25px;
  display: blocK;
}

@media (max-width: 640px) {
  .sponsor {
    margin: 0;
  }
}

.image {
  position: relative;
  object-fit: contain;
  max-width: 100vw;
  width: 140px;
  height: 70px;
}

.silver .image {
  width: 200px;
  height: 100px;
}

.gold .image {
  width: 400px;
  height: 200px;
}

.platinum .image {
  width: 500px;
  height: 400px;
  margin-top: 30px;
}
