.container {
    flex: 0 1 300px;
}
.imageContainer {
    background-image: url('/images/team/noMemberImage.svg');
    color: #e8e8e8;
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: auto;
}
.email {
    position: absolute;
    background-color: #0080c980;
    border-radius: 50%;
    --r: 25%;
    bottom: calc(0% - var(--r));
    left: calc(50% - var(--r));
    right: calc(50% - var(--r));
    top: calc(100% - var(--r));
    transition: all 1s;
    text-align: center;
}
.imageContainer:hover .email {
    --r: 100%;
}
.email :global(.mail-symbol) {
    position: absolute;
    top: 25%;
    transform: translate(-50%, -50%);
}

.name {
    margin-bottom: -10px;
}
.title {
    color: #0080c9;
    margin-bottom: 30px;
}