.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3em;
}

.title {
  margin: 0;
  color: var(--shift-blue);
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.text {
  flex-grow: 1;
}

.more {
  color: var(--medium-blue);
}

@media (max-width: 1200px) {
  .container {
    padding: 2em;
  }
}

@media (max-width: 900px) {
  .text {
    font-size: 0.9em;
  }
}
