.title {
    margin-top: 50px;
}
.posts {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding: 16px;
}
.bottomMargin {
    height: 40px;
}
.blueLine {
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-radius: 2.8px;
    border-color: #0080c9;
    margin-bottom: 40px;
}