.footer {
    height: var(--footer-height);
    background-color: #01020b;
    box-shadow: 2px 2px 10px #1a1a1a;
}
.copyright {
    width: 100%;
}
.container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 16px 8px;
    max-width: 1200px;
}
.container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.ramboll {
    width: 50%;
    margin: auto;
    margin-left: 15px;
}
.alva {
    width: 50%;
}
.alvaLogo {
    width: 80%;
}
.hevold {
    width: 45%;
}
.hevoldLogo {
    width: 80%;
}
.hydro {
    width: 35%;
}
.hydroLogo {
    width: 80%;
}
.mainSponsor,
.flexColumn {
    width: 20%;
    text-align: center;
}
@media (max-width: 1000px) {
    .flexColumn {
        width: 100%;
        margin-bottom: 25px;
    }
    .mainSponsor {
        width: 25%;
    }
}