.footer {
  height: var(--footer-height);
  background-color: #01020b;
  box-shadow: 2px 2px 10px #1a1a1a;
}
.container {
  box-sizing: border-box;
  max-width: 1200px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 8px;
}

.sponsors {
  height: 0;
  width: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: stretch;
}
.sponsor {
  position: relative;
  flex: 1 1;
  margin: 20px;
}

.socials > * {
  padding: 10px;
  font-size: 1.7em;
  line-height: 0;
}

.copyright {
  width: 100%;
  margin: 5px 0;
}

@media (max-width: 1000px) {
}
