div.accordion {
  background: none;
  border: 0;
  box-shadow: none;
  color: black;
  padding: 0;
}

div.accordion::before {
  height: 0;
  content: none;
}

.accordionSummary,
.accordionDetails > p {
  margin: 0;
}

.markdownContent > p {
  font-weight: normal;
}

.markdownContent img {
  max-width: 100%;
}
